#app3 .square {
  border: 1px solid yellow;
  margin-top: 10vw;
  margin-left: 10vw;
  width: 10vw;
  height: 10vw;
  background-color: yellow;
  transition: transform 1s;
}
#app3 .square.active {
  transform: translateX(15vw);
}
